beautifulsoup4~=4.14.3
cloudscraper
curl_cffi
html5lib
kiteconnect
lxml
openpyxl
pandas~=2.3.3
playwright
pyotp
python-dotenv
PyYAML~=6.0.3
rapidfuzz
requests~=2.32.5
schedule
selenium
tqdm
webdriver-manager
yfinance
